<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Details</title>
</head>
<body>
    <h1>Student Details</h1>

    <p><strong>Studentnummer:</strong> {{ student.student_number }}</p>
    <p><strong>Naam:</strong> {{ student.name }}</p>
    <p><strong>Klas:</strong> {{ student.class_name }}</p>
    <p><strong>Team:</strong> 
        <input type="text" id="team" name="team" value="{{ student.team }}">
        <button id="update-team-button">Update Team</button>
    </p>
    {% if student.team_updated_by %}
        <p><strong>Team gezet door (admin):</strong> {{ student.team_updated_by }}</p>
    {% endif %}

    <p><strong>Action Type:</strong> {{ student.action_type }}</p>

    <button onclick="deleteStudent({{ student.student_number }})">Verwijderen</button>
    <div class="chosen-statements">
        <h2>Chosen Statements</h2>
        {% if chosen_statements %}
            <ul>
                {% for statement in chosen_statements %}
                    <li>
                        {{ statement.choice_text }}
                        <span class="timestamp">
                            (Chosen on: {{ statement.timestamp.strftime('%Y-%m-%d %H:%M:%S') }})
                        </span>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No statements have been chosen.</p>
        {% endif %}
    </div>
    <div id="update-message"></div>

    <script>
        document.getElementById('update-team-button').addEventListener('click', function(event) {
            event.preventDefault();
            const team = document.getElementById('team').value;

            fetch(`/api/admin/student/{{ student.student_number }}/edit`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ team: team })
            })
            .then(response => response.json())
            .then(data => {
                if (data.result === 'ok') {
                    document.getElementById('update-message').innerText = 'Team updated successfully.';
                } else {
                    document.getElementById('update-message').innerText = 'Failed to update team.';
                }
            });
        });

        function deleteStudent(studentNumber) {
            fetch(`/api/admin/delete_student/${studentNumber}`, {
                method: 'DELETE'
            })
            .then(response => response.json())
            .then(data => {
                if (data.result === 'ok') {
                    alert('Student verwijderd');
                    window.location.href = '/admin';
                } else {
                    alert('Er is een fout opgetreden bij het verwijderen.');
                }
            });
        }
    </script>
</body>
</html>
